.pagination-btn{
    margin: 0px 2px;
    float: right;
}

input{
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input:focus{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

#search-bar-input{
    float: left;
    width: 50%;
    margin-right: 30px;
}


#next-previous-buttons{
    float:right;
    margin-right: 30px;
}

#pagination-buttons{
    float:right;
}

button{
    color: #fff;
    background-color: #1e90ff;
    border-color: #1e90ff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: 
        color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
}

button:hover{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

#companies-table{
    width: 100%;
    text-align: left;
    border: 1px solid #fff;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0 10px;
}

#companies-table-body > tr{
    cursor: pointer;
    transition-duration: 0.2s;
} 
#companies-table-body > tr:hover{
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    transform: scale(1.01);
}

#companies-table-body > tr > td{
    padding-top: 10px;
    padding-bottom: 10px;
}
#companies-table th {
    background-color: #1e90ff;
    color: #fff;
    padding: 8px;
    border: 1px solid #fff;
}

.clear-both{
    clear: both;
}


.active{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}


#company-details-placeholder{
    float: left;
    width: 49%;
}
#company-details{
    margin: auto;
    width: 70%;
}
#date-range-chart{
    width: 49%;
    display: inline-block;
}
#date-range-chart>p{
    text-align: center;
}

#start-date-div, #end-date-div{
    width: 50%;
    float: left;
    text-align: center;
    margin-bottom: 10px;
}

#startDateInput, #endDateInput{
    margin: auto;
    margin-top: 10px;
}

#chart-div{
    width: 70%;
    margin:auto;
}



@media screen and (max-width: 889px) {
    #search-bar-input{
        float: none;
        width: 100%;
        box-sizing: border-box;
    }
    
    #pagination-buttons, #next-previous-buttons{
        margin-top: 10px;
    }
    #next-previous-buttons{
        float:left;
        margin-right: 0px;
    }
}


@media screen and (max-width: 800px) {
    #company-details-header{
        font-size:2em;
    }
    #company-details-placeholder{
        width:100%;
    }
    #company-details > p{
        text-align: center;
        margin: 20px 0;
    }
    #date-range-chart{
        width:100%;
    }
    #start-date-label{
        margin-left: 42%;
    }
    #startDateInput{
        margin-left: 50%;
    }
    #endDateInput{
        margin-right: 50%;
    }
    #end-date-label{
        margin-right: 42%;
    }

}

@media screen and (max-width: 700px){
    #start-date-div, #end-date-div{
        width:100%;
        float:none;
        text-align: center;
    }
    #start-date-label{
        margin-left: 0;
    }
    #end-date-label{
        margin-right: 0;
    }

    #startDateInput, #endDateInput{
        width: 45%;
    }
    #startDateInput{
        margin-left: auto;
    }
    #endDateInput{
        margin-right: auto;
    }
}


@media screen and (max-width: 376px) {
    #pagination-buttons{
        float: left;
        width: 100%;
        margin-left: 2px;
    }

    .pagination-btn{
        width: 48%;
        float: left;
        margin-top: 5px;
    }

    #next-previous-buttons{
        width: 100%;
        margin-left: 4px;
    }

    .change-page-btn{
        width: 48%;
    }


}

